*.gradle
*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/inspectionProfiles
.DS_Store
/build
/backend/build
/app/build
/library/build
/captures
/app/src/debug/res/values/googe_maps_api.xml